.item-list{
    list-style-type: none;
    padding: 0%;
    margin-bottom: 40px;
}

.item-list li {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: #333;
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    position: relative;
}